{% extends 'base.html.twig' %}

    {% block title %}{{ 'label_app_title'|trans }}{% endblock %}

    {% block body %}
        <div class="title_of_page">
            <h1>Aplikacja do zarządzania informacją osobistą</h1>
        </div>

    {% endblock %}